@model School;
@{
    ViewData["Tittle"] = "Editar";
}


<form method="POST">
    <div>
    <label asp-for="Name"></label>
    <input asp-for="Name"/>
    </div>
    <div>
    <label asp-for="Country"></label>
    <input asp-for="Country"/>
    </div>
    <div>
    <label asp-for="City"></label>
    <input asp-for="City"/>
    </div>
    <div>
    <label asp-for="TypeSchool"></label>
     @Html.DropDownList(
         "TypeSchool", Html.GetEnumSelectList<TypeSchool>(),
             "Select a type",
             new {@class = "form-control"}
     )
    </div>
    <input type="submit">
</form>